@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-start-rgb))
    )
}

.drawer-text {
  @apply text-xl px-1 border rounded border-transparent
}

.drawer-text:hover {
  @apply bg-slate-700 cursor-pointer
}

.slide-up-enter-active {
  transition: transform 0.3s ease-out;
}

.slide-up-enter-to {
  transform: translateY(-6%);
}